.chapter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: center;
  max-width: 800px;
  width: 100%;
  padding: 24px 8px;
  position: relative;
}

.chapter__battle-enemy {
  position: absolute;
  top: -150px;
  right: 0;
}

.chapter__choices {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.chapter__choices-button {
  width: 100%;
}
